body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    width: auto;
    justify-content: center;
}

header {
    background-color: darkcyan;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border-radius: 2px;
}

#content {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto
}

#biography {
    background-color: #EBEBEB;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#biography img {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

#biography h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#biography p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
}

#achievements {
    /* background-color: whitesmoke; */
    background-color: #EBEBEB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

#achievements h3 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 15px;
}

#achievements ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

#achievements li {
    margin-bottom: 5px;
}

footer {
    /* opacity: 0.4; */
    border-radius: 5px;
    background-color: darkcyan;
    text-align: center;
    font-size: smaller;
    padding: 1px;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    bottom: 0;
}